name: Log Group Example
on: push
jobs:
  log:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "::group::Show environment variables"
          printenv
          echo "::endgroup::"
